*{

    box-sizing: border-box;

    --font-family-logo: 'Playball', cursive;
    --font-family-main: 'Lexend Deca', sans-serif;
    
    --color-desabled: #52B6FF;
    --color-header: #126BA5;
    --color-main: #52B6FF;
    --color-gray-slected: #CFCFCF;
    --color-green: #8FC549;
    --color-placeholder: #dbdbdb;

    --color-text-gray: #666666;

    --backgroud-main: #F2F2F2;

    --font-size-login: 1.4rem;
    --font-size-h2: 2.1rem;
    --font-size-p: 1.5rem;

    --padding-inline: 2rem;

    --height-header: 4.5rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    font-family: var(--font-family-main);

}

.root{  
	display: flex;
	flex-direction: column;
	
	width: 100vw;
	height: 100vh;
}

input, button, select {
    cursor: pointer;
}